@model EventsWeb.Controllers.LoginData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->

	<div class="limiter" style="font-family: sans-serif;"> 
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" method="post" asp-action="Login">
						<span class="login100-form-title p-b-26">
							Bienvenido
						</span>
						<span class="login100-form-title ">
							@foreach (var modelState in ViewData.ModelState.Values)
							{
								  foreach (var error in modelState.Errors) {
											<i class="error">@error.ErrorMessage</i>
									}
							}
						
						</span>

						<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
							<input class="input100" type="text" name="username" placeholder="Email" required>
							
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input100" type="password" name="password" placeholder="Password" required>
							
						</div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Login
								</button>
							</div>
						</div>

						<div class="text-center p-t-115">
							<span class="txt1">
								¿Eres alumno y no estas registrado?
							</span>

							<a class="txt2" href="/User/Create">
								Registro
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		

